In [ ]:
# !pip install mysqlclient

# Create Dataset

In [ ]:
import MySQLdb

db = MySQLdb.connect("localhost","root","isaac","mydatabase")

cursor = db.cursor()

## Drop Dataset if exist

cursur.execute('DROP TABLE IF EXIST STUDENTS')

## Create Dataset
'''
| ID INT(11) | NAME CHAR(20) | GENDER CHAR(20) | CHINESE CHAR(20) | ENGLISH CHAR(20) | MATH CHAR(20) | SOCIAL_SCIENCE CHAR(20) | SCIENCE  CHAR(20) |

PRIMARY KEY = ID
CHARSET = utf8

'''

sql = """CREATE TABLE STUDENTS(ID INT(11) NOT NULL AUTO_INCREMENT,
                               NAME CHAR(20) NOT NULL,
                               GENDER CHAR(20) NOT NULL,
                               CHINESE CHAR(20) NOT NULL,
                               ENGLISH CHAR(20) NOT NULL,
                               MATH CHAR(20) NOT NULL,
                               SOCIAL_SCIENCE CHAR(20) NOT NULL,
                               SCIENCE  CHAR(20) NOT NULL,
                               PRIMARY KEY (ID),
                               )DEFAULT CHARSET=utf8"""

db.close()

# Enter student grades into the database manually

name: isaac, gender: m, chinese: 60, english: 72, math: 32, social_science: 52, science: 86  
name: amy, gender: f, chinese: 50, english: 22, math: 80, social_science: 15, science: 93

In [ ]:
import MySQLdb

db = MySQLdb.connect("localhost","root","isaac","mydatabase" )

cursor = db.cursor()

print("enter students score")
while True:

    student_name = input("enter name: ")
    student_gender = input("enter gender: ")
    student_chinese = input("enter chinese score: ")
    student_english = input("enter english score: ")
    student_math = input("enter math score: ")
    student_social_science = input("enter social science score: ")
    student_science = input("enter science score: ")
    
    ## Insert student_name, student_gender, student_chinese, ...... into the database
    x = (student_name, student_gender, student_chinese, student_english, student_math, student_social_science, student_science)
    cursor.execute("""INSERT INTO STUDENTS(NAME,
                                           GENDER, 
                                           CHINESE,
                                           ENGLISH, 
                                           MATH, 
                                           SOCIAL_SCIENCE, 
                                           SCIENCE) VALUES (%s, %s, %s, %s, %s, %s, %s)""", x)
    db.commit()
    
    again = input("continue(y/n)? ")
    if again[0].lower() == "n":
        break

db.close()

# Query all the contents of the current database

In [ ]:
import MySQLdb

db = MySQLdb.connect("localhost","root","isaac","mydatabase" )


cursor = db.cursor()

sql = "SELECT * FROM STUDENTS"

# Query all contents of the current database
cursor.execute(sql)
result = cursor.fetchall()

for row in results:
    student_id = row[0]
    student_name = row[1]
    student_gender = row[2]
    student_chinese = row[3]
    student_english = row[4]
    student_math = row[5]
    student_social_science = row[6]
    student_science = row[7]
    
    print('name:{}, gender:{}, chinese:{}, englisgh:{}, math:{}, social_science:{}, student_science:{}'.format(student_name, 
            student_gender, student_chinese, student_english, student_math, student_social_science, student_science))
    
db.close()

# Use a CSV file to import the entire class's grades in bulk

In [ ]:
import MySQLdb

db = MySQLdb.connect("localhost","root","isaac","mydatabase" )


cursor = db.cursor()

## Insert all student grades from exam_score.csv into the database
with open('exam_score.csv', 'r') as f:
    for index, line in enumerate(f.readlines()):
        if index > 0:
            data = tuple(line.strip().split(','))
            print("inseting {} data......".format(data(0)))

            sql = """INSERT INTO STUDENTS
            (NAME, GENDER, CHINESE, ENGLISH, MATH, SOCIAL_SCIENCE, SCIENCE)
            VALUES (%s, %s, %s, %s, %s, %s, %s)"""

            cursor.execute(sql, data)
            db.commit()
        
    

cursor.execute()


db.close()

# Change Sophia's English grade to 99

In [ ]:
import MySQLdb

db = MySQLdb.connect("localhost","root","isaac","mydatabase" )

cursor = db.cursor()

## Change Sophia's English grade to 99

sql = "UPDATE STUDENTS SET ENGLISH = 99 WHERE NAME = '%s'" % ('sophia')

cursor.execute(sql)
db.commit()

db.close()

# Calculate the average for each subject

In [ ]:
import MySQLdb

db = MySQLdb.connect("db4free.net","isaac60103","isaac60103test","isaac60103", port = 3306 )

cursor = db.cursor()


sql = "SELECT * FROM STUDENTS"
chinese_avg = 0
english_avg = 0
math_avg = 0
social_science_avg = 0
science_avg = 0

try:
    
    cursor.execute(sql)

    results = cursor.fetchall()
    num_students = len(results)
    ## Calculate the average for each subject
    for row in results:
        chinese_avg += float(row[3])
        english_avg += float(row[4])
        math_avg += float(row[5])
        social_science_avg += float(row[6])
        science_avg += float(row[7])

    
except:
    print("Error: unable to fecth data")

print('chinese_avg: {}'.format(chinese_avg/num_students))
print('english_avg: {}'.format(english_avg/num_students))
print('math_avg: {}'.format(math_avg/num_students))
print('social_science_avg: {}'.format(social_science_avg/num_students))
print('science_avg: {}'.format(science_avg/num_students))

db.close()